.logo-abbr {
  display: none;
}
.brand-title {
  display: block;
  max-width: 170px !important;
  margin-left: 0px;
}
.menu-toggle .logo-abbr {
  /* display: block; */
}
.menu-toggle .brand-title {
  /* display: none; */
}

@media (max-width: 1400px) {
  .nav-control {
    /* top: 40% !important; */
  }
}
.sidebar.hidden {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.sidebar {
  transform: translateX(0);
}

@media (max-width: 767px) {
  .brand-title {
    display: none !important;
  }
  .logo-abbr {
    display: block !important;
  }
}
/* .nav-control {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  cursor: pointer;
  height:45px;
  width:45px;
  transition: background 0.2s;
} */

.menu-toggle .header {
  padding: 0 !important;
}

.logo-abbr {
  display: none;
}
.brand-title {
  display: block;
  max-width: 170px !important;
  margin-left: 0px;
}
.menu-toggle .logo-abbr {
  display: block;
}
.menu-toggle .brand-title {
  display: none;
}

@media (max-width: 1400px) {
  .nav-control {
    top: 40% !important;
  }
}
@media (max-width: 767px) {
  .brand-title {
    display: none !important;
  }
  .logo-abbr {
    display: block !important;
  }
}
.nav-control {
    border: 1px solid #ccc; /* 1px solid border with a light grey color */
    /* You can adjust the width, style, and color as needed */
    /* Example: border: 2px dashed red; */
    height:40px;
    /* padding: 5px; Add some padding so the content isn't right against the border */
    border-radius: 5px; /* (Optional) Adds rounded corners */
}